footer.footer
  .container.footer-container.text-white
    .row
      .col-md-6.col-xl-3
        dl.nav-block
          dt Каталог
          dd: a.nav-link(href="") Сантехника
          dd: a.nav-link(href="") Измерительные приборы
          dd: a.nav-link(href="") Насосное оборудование
          dd: a.nav-link(href="") Котлы и водонагреватели
          dd: a.nav-link(href="") Измерительные приборы
          dd: a.nav-link(href="") Теплый пол
      .col-md-6.col-xl-3
        dl.nav-block
          dt Барнаул
          dd: a.nav-link(href="") улица Маяковского, 27
          dd: a.nav-link(href="tel: +73855745335") +7 (3852) 26-68-00
          dd: a.nav-link(href="tel: +73855745335") +7 (3852) 77-38-71
          dd: a(href="mailto: consult@adk22.ru") consult@adk22.ru
      .col-md-6.col-xl-3
        dl.nav-block
          dt Бийск
          dd: a.nav-link(href="") улица Социалистическая, 15
          dd: a.nav-link(href="tel:+73855745335") +7 (3854) 44-27-21
          dd: a.nav-link(href="tel:+73855745335") +7 (3854) 44-27-16
          dd: a(href="mailto: bsk@adk22.ru") bsk@adk22.ru
      .col-md-6.col-xl-3
        dl.nav-block
          dt Рубцовск
          dd: a.nav-link(href="") переулок Пионерский, 48
          dd: a.nav-link(href="tel:+73855745335") +7 (385-57) 4-53-35
          dd: a.nav-link(href="tel:+73855745335") +7 (385-57) 4-53-35
          dd: a(href="mailto: rbs@adk22.ru") rbs@adk22.ru
  .copyright.py-4
    .container.d-flex.justify-content-between
      a.nav-link.copyright-company(href="") © АДК, 2019
      a.nav-link.copyright-dev(href="") Разработка сайта - E1MEDIA