.nav-link, .nav-link
  color: inherit
  line-height: 40px
.nav-link:hover, .nav-link:focus
  color: $red
.news-link
  color: inherit
  &:hover
    text-decoration: none
    color: inherit
    .news-item__name
      color: $accent
.dotted
  border-bottom: 1px dotted $red
body
  .flickity-page-dots
    display: flex
    align-items: center
    justify-content: center
    .dot.is-selected
      transform: scale(1.4)
      background-color: $red
    .dot
      width: 1rem
      height: 1rem
      cursor: pointer
      opacity: 1
      transition: .4s ease
.white-dots
  .dot.is-selected
    background-color: $red!important
  .dot
    background-color: #fff!important
.company-carousel, .banner-carousel
  .flickity-page-dots
    justify-content: flex-start
.banner-carousel
  .flickity-page-dots
    bottom: 40px
    left: calc((100% - 1340px) / 2 + 58px)
.breadcrumb-item + .breadcrumb-item::before
  background: url(../img/general/polygon.svg) no-repeat center/80%
  width: 8px
  height: 10px
  margin-right: 10px
.breadcrumb-item a
  text-decoration: underline
