.section-basket
	.card-item__body
		flex: 1 1 100%
		align-items: center
	.card-item__header
		flex: 0 0 35%
	.card-item__footer
		flex: 1 1 100%
	.card-item__price-container
		width: 100%
		justify-content: flex-start
		flex-direction: column
	.card-item__price
		text-align: left
		flex: 0 0 35%
		margin-right: 0!important
		margin-bottom: 1rem
	.count-block
		flex: 0 0 35%
		margin-bottom: 1rem
	.card-item__list.card-item__list--row
		.card-item__price-container
			flex-direction: row
		.card-item__price
			margin-bottom: 0
		.count-block
			margin-bottom: 0
.delete-icon
	width: 50px
	height: 50px
	fill: #878787
	transition: .5s ease
	padding: 16px
	&:hover
		transform: rotate(180deg)
	
.basket-cols-title
	display: flex
	margin-bottom: 1rem
.basket-cols-title__name
	flex: 0 0 calc(35% + 100px)
.basket-cols-title__price
	flex: 0 0 35%
.basket-cols-title__total
	flex: 0 0 35%
.basket-cols-title__quantity
	flex: 0 0 35%
.basket-cols-container
	flex: 0 0 calc(60% - 165px)
	display: flex
	justify-content: flex-start

.checkout-block
	display: flex
	align-items: center
	justify-content: flex-end
	padding: 1.875rem
	margin-top: 20px
.checkout-block__total
	font-size: 1.875rem
	font-weight: bold

.card-item__list .grid__cell:first-of-type
	.card-item:first-of-type
		position: relative
		&:after
			content: 'Наименование'
			position: absolute
			bottom: 120%
			opacity: .6
			font-size: 1.375rem
			line-height: 2.1875rem
			font-weight: bold
	& .count-block:before
		content: 'Количество'
		position: absolute
		bottom: 120%
		opacity: .6
		font-size: 1.375rem
		line-height: 2.1875rem
		font-weight: bold
	& .card-item__price:before
		content: 'Цена'
		position: absolute
		bottom: 120%
		opacity: .6
		font-size: 1.375rem
		line-height: 2.1875rem
		font-weight: bold
	& .card-item__price.card-item__price--total:before
		content: 'Итого'
		position: absolute
		bottom: 120%
		opacity: .6
		font-size: 1.375rem
		line-height: 2.1875rem
		font-weight: bold