.header-top
  background-color: $cyan
.logo
  big
    line-height: 1.3
.header-middle
  padding: 1.4375rem 0
.addres-block
  max-width: 600px
  width: 100%
.search
  flex: 1 1 100%
  position: relative
  input
    border: 1px solid #DEE6EB
    line-height: 50px
    padding: 0 10px
    font-style: italic
.search-icon
  position: absolute
  right: 10px
  top: 0
  bottom: 0
  margin: auto
.icon-link-block
  white-space: nowrap

header
  padding-bottom: 14.0625rem