extends templates/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content
	section.banner.bg-info.pt-0
		.banner-carousel(data-flickity='{ "wrapAround": true }')
			.carousel-cell
				.container
					.banner-item.text-white
						.banner__text.w-50.d-flex.flex-column.align-items-start
							.banner__title.pb-4 Инженерное и&nbsp;сантехническое оборудование
							big.banner__subtitle.pb-4 Поставляем продукцию оптом и&nbsp;в&nbsp;розницу Гибкая система скидок и&nbsp;оплаты
							.btn.btn-outline-light.rounded-pill Узнать подробнее
							.square-block.text-info
			.carousel-cell
				.container
					.banner-item.text-white
							.banner__text.w-50.d-flex.flex-column.align-items-start
								.banner__title.pb-4 Инженерное и&nbsp;сантехническое оборудование
								big.banner__subtitle.pb-4 Поставляем продукцию оптом и&nbsp;в&nbsp;розницу Гибкая система скидок и&nbsp;оплаты
								.btn.btn-outline-light.rounded-pill Узнать подробнее
								.square-block.text-info
	section.section-catalog.bg-info
		.container
			h1.section-title.text-center Каталог
			.catalog.mb-5
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
		
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
		
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
		
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			
				.catalog-item.d-flex
					.catalog-item__icon 
						+icon('price', 'catalog-icon')
					.catalog-item__desc
						.catalog-item__name Запорная арматура, электроприводы
						.catalog-item__link-items
							a.link.catalog-item__link-item(href="") Задвижки 
							a.link.catalog-item__link-item(href="") Клапаны 
							a.link.catalog-item__link-item(href="") Коллекторы 
							a.link.catalog-item__link-item(href="") Краны 
							a.link.catalog-item__link-item(href="") Фильтры 
							a.link.catalog-item__link-item(href="") Элеваторы 
			.container-btn.text-center
				.btn.btn-outline-dark.rounded-pill Весь каталог
	section.section-new-catalog-item
		.container.text-center
			h1.section-title Новинки каталога
			.card-list.mb-5
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
				.card
					.card__icon.embed-responsive.embed-responsive-1by1.mb-3
						.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
					.card__name.mb-1 Затвор дисковый BAODI
					.card__price.mb-3 570.00 ₽
					.btn.btn-danger.rounded-pill.btn-small Купить
			.btn.btn-outline-dark.rounded-pill Все товары
	section.section-manufacturers.pt-0.pb-4
		.container
			h1.section-title.text-center.mb-5 Производители
			.manufacturers-carousel.pb-3(data-flickity='{ "cellAlign": "left", "wrapAround": true}')
				.carousel-cell.embed-responsive.embed-responsive-21by9.mb-3
					.embed-responsive-item(style="background: url('img/content/partners (1).png') no-repeat center/contain")
				.carousel-cell.embed-responsive.embed-responsive-21by9.mb-3
					.embed-responsive-item(style="background: url('img/content/partners (2).png') no-repeat center/contain")
				.carousel-cell.embed-responsive.embed-responsive-21by9.mb-3
					.embed-responsive-item(style="background: url('img/content/partners (3).png') no-repeat center/contain")
				.carousel-cell.embed-responsive.embed-responsive-21by9.mb-3
					.embed-responsive-item(style="background: url('img/content/partners (1).png') no-repeat center/contain")
				.carousel-cell.embed-responsive.embed-responsive-21by9.mb-3
					.embed-responsive-item(style="background: url('img/content/partners (4).png') no-repeat center/contain")
				.carousel-cell.embed-responsive.embed-responsive-21by9.mb-3
					.embed-responsive-item(style="background: url('img/content/partners (2).png') no-repeat center/contain")
	section.section-news
		.container
			h1.section-title.text-center.mb-5 Новости