extends ../templates/main

block variables
	- var title = 'Корзина'
block content
	nav.mt-4(aria-label)
		.container
			ol.breadcrumb.bg-white.px-0
				li.breadcrumb-item: a(href="") Главная
				li.breadcrumb-item: a(href="") Каталог
				li.breadcrumb-item.active(aria-current="page") Ванны
	section.section-basket.pt-0
		.container
			h1.section-title.mb-5 Корзина
			.basket-cols-title
				h4.not-important.b.basket-cols-title__name Наименование
				.basket-cols-container
					h4.not-important.b.basket-cols-title__price Цена
					h4.not-important.b.basket-cols-title__quantity Количество
					h4.not-important.b.basket-cols-title__total Итого
			.card-item__list.card-item__list--row
				.card-item.card-item--new.text-center
					.card-item__img.embed-responsive.embed-responsive-4by3
						.embed-responsive-item(style="background: url('img/content/card-img1.jpg') no-repeat center/contain")
					.card-item__body
						.card-item__header
							.text-big.card-item__name.mb-3 Ванна стальная EMALIA
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
						.card-item__footer
							.card-item__price-container
								.card-item__price 76 300 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
								.card-item__price.card-item__price--total 76 300 ₽
						.delete__card-item
							+icon('cross', 'delete-icon')
				.card-item.text-center
					.card-item__img.embed-responsive.embed-responsive-4by3
						.embed-responsive-item(style="background: url('img/content/card-img2.jpg') no-repeat center/contain")
					.card-item__body
						.card-item__header
							.text-big.card-item__name.mb-3 Ванна стальная REIMAR
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
						.card-item__footer
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
								.card-item__price.card-item__price--total 420 ₽
						.delete__card-item
							+icon('cross', 'delete-icon')

				.card-item.text-center
					.card-item__img.embed-responsive.embed-responsive-4by3
						.embed-responsive-item(style="background: url('img/content/card-img3.jpg') no-repeat center/contain")
					.card-item__body
						.card-item__header
							.text-big.card-item__name.mb-3 Ванна стальная ROCA
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
						.card-item__footer
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
								.card-item__price.card-item__price--total 420 ₽
						.delete__card-item
							+icon('cross', 'delete-icon')

				.card-item.text-center
					.card-item__img.embed-responsive.embed-responsive-4by3
						.embed-responsive-item(style="background: url('img/content/card-img4.jpg') no-repeat center/contain")
					.card-item__body
						.card-item__header
							.text-big.card-item__name.mb-3 Ванна стальная EMALIA
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
						.card-item__footer
							.card-item__price-container
								.card-item__price 423 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
								.card-item__price.card-item__price--total 423 420 ₽
						.delete__card-item
							+icon('cross', 'delete-icon')
				.card-item.text-center
					.card-item__img.embed-responsive.embed-responsive-4by3
						.embed-responsive-item(style="background: url('img/content/card-img5.jpg') no-repeat center/contain")
					.card-item__body
						.card-item__header
							.text-big.card-item__name.mb-3 Ванна стальная REIMAR
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
						.card-item__footer
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
								.card-item__price.card-item__price--total 420 ₽
						.delete__card-item
							+icon('cross', 'delete-icon')
				.card-item.text-center
					.card-item__img.embed-responsive.embed-responsive-4by3
						.embed-responsive-item(style="background: url('img/content/card-img6.jpg') no-repeat center/contain")
					.card-item__body
						.card-item__header
							.text-big.card-item__name.mb-3 Ванна стальная ROCA
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
						.card-item__footer
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
								.card-item__price.card-item__price--total 420 ₽
						.delete__card-item
							+icon('cross', 'delete-icon')
			.checkout-block.bg-info
				.checkout-block__total.mr-5 Итого: <span>79 500</span> ₽
				.btn.btn-danger.rounded-pill.btn-small Оформить заказ
	section.section-related
		.container.text-center
			h2.section-title Вам так же могут потребоваться
			.related-products(data-flickity='{ "cellAlign": "left", "wrapAround": true, "prevNextButtons": false, "freeScroll": true}')
				.carousel-cell
					.card.card-item--new
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
							.card__name.mb-4 Затвор дисковый BAODI
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (2).png') no-repeat center/contain")
							.card__name.mb-4 Водосчетчик ВСКМ 90 универсальный
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card.card-item--new
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (3).png') no-repeat center/contain")
							.card__name.mb-4 Диск отрезной по металлу (Луга)
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 42 220 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (4).png') no-repeat center/contain")
							.card__name.mb-4 Диск зачистной(Луга)
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (5).png') no-repeat center/contain")
							.card__name.mb-4 Затвор дисковый BAODI
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (6).png') no-repeat center/contain")
							.card__name.mb-4 Радиатор GRANT 500/100
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 11 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (1).png') no-repeat center/contain")
							.card__name.mb-4 Кран шаровый BAODI
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 1420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (7).png') no-repeat center/contain")
							.card__name.mb-4 Водосчетчик ОСВУ
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить