extends ../templates/main

block variables
	- var title = 'Карточка'
block content
	nav.mt-4(aria-label)
		.container
			ol.breadcrumb.bg-white.px-0
				li.breadcrumb-item: a(href="") Главная
				li.breadcrumb-item: a(href="") Каталог
				li.breadcrumb-item.active(aria-current="page") Ванны
	section.section-product-card.pt-0
		.container
			h1.section-title Ванна стальная EMALIA
			.row
				.col-lg-6
					.embed-responsive.embed-responsive-1by1.product-card__photo
						a.embed-responsive-item(data-fancybox="gallery" href="img/content/card-img4.jpg" style="background: url(img/content/card-img4.jpg) no-repeat center/contain")
				.col-lg-6
					.available-block.card-item__price-container.flex-row.flex-wrap.justify-content-start.mb-4.pb-4
						.product-card__price.mb-0.mr-5 363 ₽/шт
						.count-block.d-flex.align-items-end.mb-0.mr-5
							.count-block__minus -
							input.count-block__value(type='text', value='1')
							.count-block__plus +
						.btn.btn-danger.rounded-pill.mb-0 В корзину
						.card-item__price.w-100.mt-4 Итого: 7 363 ₽/шт

					#tabs.available-block.mb-4
						ul
							li
								a.nolink(href='#tabs-1'): h4.b.mr-5 Характеристики
							li
								a.nolink(href='#tabs-2'): h4.b Описание
						#tabs-1
							h5.b.mb-4 
							.spec-list.d-flex
								.spec-list__item.border-bottom.d-flex.justify-content-between.pb-2 <span>Производитель:</span> <b>Испания</b>
								.spec-list__item.border-bottom.d-flex.justify-content-between.pb-2 <span>Размер:</span> <b>150x75</b>
								.spec-list__item.border-bottom.d-flex.justify-content-between.pb-2.mb-0 <span>Глубина:</span> <b>430</b>
						#tabs-2
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid incidunt molestias atque dicta soluta, necessitatibus blanditiis dolore consequuntur delectus numquam recusandae at tenetur obcaecati quas debitis cupiditate vero doloribus ipsa nisi voluptates labore odio voluptate. Rem, cumque neque! Nemo accusamus quae perspiciatis sequi alias consequuntur sunt reprehenderit aperiam ducimus! 
				
					.available-block
						h4.b.mb-4 Наличие на складах
						.spec-list.d-flex
							.spec-list__item.border-bottom.d-flex.justify-content-between.pb-2 <span>Барнаул</span> <b>В наличии</b>
							.spec-list__item.border-bottom.d-flex.justify-content-between.pb-2 <span>Бийск</span> <b>Через 7 дней</b>
							.spec-list__item.border-bottom.d-flex.justify-content-between.pb-2 <span>Рубцовск</span> <b>В наличии</b>
	section.section-related
		.container.text-center
			h2.section-title Сопутствующие товары
			.related-products(data-flickity='{ "cellAlign": "left", "wrapAround": true, "prevNextButtons": false, "freeScroll": true}')
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url(img/content/card-item.png) no-repeat center/contain")
							.card__name.mb-4 Затвор дисковый BAODI
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (2).png') no-repeat center/contain")
							.card__name.mb-4 Водосчетчик ВСКМ 90 универсальный
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (3).png') no-repeat center/contain")
							.card__name.mb-4 Диск отрезной по металлу (Луга)
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 42 220 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (4).png') no-repeat center/contain")
							.card__name.mb-4 Диск зачистной(Луга)
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (5).png') no-repeat center/contain")
							.card__name.mb-4 Затвор дисковый BAODI
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (6).png') no-repeat center/contain")
							.card__name.mb-4 Радиатор GRANT 500/100
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 11 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (1).png') no-repeat center/contain")
							.card__name.mb-4 Кран шаровый BAODI
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 1420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
				.carousel-cell
					.card
						.card__header
							.card__icon.embed-responsive.embed-responsive-1by1.mb-3
								.embed-responsive-item(style="background: url('img/content/card-item (7).png') no-repeat center/contain")
							.card__name.mb-4 Водосчетчик ОСВУ
						.card__footer
							.spec-list.d-flex
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
								small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
							.card-item__price-container
								.card-item__price 420 ₽
								.count-block.d-flex.align-items-end
									.count-block__minus -
									input.count-block__value(type='text', value='1')
									.count-block__plus +
							.btn.btn-danger.rounded-pill.btn-small Купить
