extends ../templates/main

block variables
	- var title = 'Каталог'
	- var pageClass = 'index-page'
block content
	nav.mt-4(aria-label)
		.container
			ol.breadcrumb.bg-white.px-0
				li.breadcrumb-item: a(href="") Главная
				li.breadcrumb-item: a(href="") Каталог
				li.breadcrumb-item.active(aria-current="page") Ванны
	section.section-catalog-page.p-0
		.container
			h1.b Ванны
			.row
				.col-3
					form.filtr-block.mb-5
						h5.b.mb-4 Фильтр
						fieldset
							label.w-100(for="inputCountry") Страна производства
								select.input-item#inputCountry(name="inputCountry")
									option Португалия
									option Польша
									option Парагвай
									option Россия
									option Румыния
									option Испания
							label.w-100(for="inputLength") Длина
								select.input-item#inputLength(name="inputLength")
									option Португалия
									option Польша
									option Парагвай
									option Россия
									option Румыния
									option Испания
							label.w-100(for="inputWidth") Ширина
								select.input-item#inputWidth(name="inputWidth")
									option Португалия
									option Польша
									option Парагвай
									option Россия
									option Румыния
									option Испания
							label.w-100(for="inputDeep") Глубина
								select.input-item#inputDeep(name="inputDeep")
									option Португалия
									option Польша
									option Парагвай
									option Россия
									option Румыния
									option Испания
						input(type="text" class="js-range-slider" name="my_range" value="")
						.input-container--row.d-flex.align-items-center.mb-4
							label.text-black-50.pr-3(for="input-before") От
							input(type="text")#input-before.input-item
							label.text-black-50.pr-3(for="input-after") до
							input(type="text")#input-after.input-item
						.btn-container--row.d-flex.align-items-center.justify-content-between
							.btn.btn-primary.rounded-pill.btn-small Применить
							a.text-primary.p-0.cross-link.link(href="#") 
								+icon('cross')
								<span>Сбросить</span>
					a.nolink.banner-block.pb-4(href="" style="background: url('img/content/banner-wide.jpg') no-repeat center/cover")
						.banner-block__content.p-3
							h4.banner-block__title.text-danger.b Скидка 10 %
							p Смесители для раковины <br>Solone 
							.square-block.text-info
				.col-9
					.btn-group.mb-4
						.btn.btn-primary.btn-small.rounded-pill
							span Акриловые ванны
							span.btn-count 18
						.btn.btn-primary.btn-small.rounded-pill
							span Стальные ванны
							span.btn-count 26
						.btn.btn-primary.btn-small.rounded-pill
							span Чугунные ванны
							span.btn-count 32
						.btn.btn-primary.btn-small.rounded-pill
							span Ванны из кварила
							span.btn-count 8
						.btn.btn-primary.btn-small.rounded-pill
							span Керамические ванны
							span.btn-count 6
						.btn.btn-primary.btn-small.rounded-pill
							span Каменные ванны
							span.btn-count 8
					.filtr-group.mb-3
						.filtr-item__selected.mr-4 Страна производитель: 
							a(href="" class='text-dark link') Польша
								+icon('cross')
						.filtr-item__selected.mr-4 Длинна: 
							a(href="" class='text-dark link') 980
								+icon('cross')
						.filtr-item__selected.mr-4 Ширина: 
							a(href="" class='text-dark link') 430
								+icon('cross')
						.filtr-item__selected Глубина: 
							a(href="" class='text-dark link') 430
								+icon('cross')
					.sorting-group.d-flex.align-items-end.mb-4
						.sort-item.mr-5 Сортировать по:
							a(href="").text-danger.link.mx-3
								+icon('Frame','mr-2') 
								span.dotted цене
							a(href="").text-danger.link
								+icon('Frame','mr-2') 
								span.dotted названию A-Я
						.sort-item Вид:
								+icon('row','sort-icon') 
								+icon('column','sort-icon active')
					.card-item__list.pb-5
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img1.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная EMALIA
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
								.card-item__footer
									.card-item__price-container
										.card-item__price 76 300 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img2.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная REIMAR
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img3.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная ROCA
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img4.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная EMALIA
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
								.card-item__footer
									.card-item__price-container
										.card-item__price 423 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img5.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная REIMAR
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img6.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная ROCA
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						a.nolink.banner-block(href="" style="background: url('img/content/banner-wide.jpg') no-repeat center/cover")
							.banner-block__content
								h4.banner-block__title.text-primary.b Новое поступление смесителей <br> для раковины
								p Смесители для раковины <br> Solone
								.square-block.text-info
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img7.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная EMALIA
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img8.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная REIMAR
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Польша
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 170x70
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 390
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить
						.card-item.text-center
							.card-item__img.embed-responsive.embed-responsive-4by3
								.embed-responsive-item(style="background: url('img/content/card-img9.jpg') no-repeat center/contain")
							.card-item__body
								.card-item__header
									.text-big.card-item__name.mb-3 Ванна стальная ROCA
									.spec-list.d-flex
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Производитель:</span> Испания
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Размер:</span> 150x75
										small.spec-list__item.not-important.pb-2 <span class="spec-list__name-hidden">Глубина:</span> 430
								.card-item__footer
									.card-item__price-container
										.card-item__price 420 ₽
										.count-block.d-flex.align-items-end
											.count-block__minus -
											input.count-block__value(type='text', value='1')
											.count-block__plus +
									.btn.btn-danger.rounded-pill Купить