@import "vars"


/*==========  Desktop First  ==========*/

// ≥1400px
+media-breakpoint-down(xl)
  .nav-link, .nav-link
    padding: 0.5rem
  .banner-carousel
    .flickity-page-dots
      bottom: 40px
      left: calc((100% - 1140px) / 2 + 58px)
  .square-block
    left: -20%
  .btn
    font-size: 1rem
  .card-item__price 
    font-size: 1.5625rem
  .card-item
	  padding: 1.5rem 1rem
// ≥1200px
+media-breakpoint-down(lg)
  section
    padding: calc(2rem + 2.5vw) 0
  .banner-carousel
    .flickity-page-dots
      bottom: 40px
      left: calc((100% - 960px) / 2 + 58px)
  .nav
    font-size: 0.875rem
  .card
    padding: 1.25rem
  .catalog-item 
    padding: 1rem
  .addres-block
    max-width: 480px
  .card-item__list
    grid-template-columns: 1fr 1fr
// ≥992px
+media-breakpoint-down(md)
  .toggle-container.container
    padding: 0
    max-width: 100%
  .header-bottom
    position: static
  header
    position: relative
  .banner-carousel
    transform: translateY(0)
  .banner
    padding: 0
  .section-catalog, .banner
    margin: 0
  header
    max-width: 720px
    margin: auto
    width: 100%
    padding: 1.875rem
  .hamburger
    padding-right: 0!important
    padding-left: 0!important
  .icon-link-block span
    display: none
  .header-bottom
    order: 3
    justify-content: space-between
    display: flex
  .header-middle
    padding: 0
    order: 1
  .header-top
    order: 2
    background-color: #fff
    margin-left: auto
  .banner-carousel
    .flickity-page-dots
      bottom: 20px
      left: 28px
  .banner-item
    background: linear-gradient(90deg, rgba(8, 109, 177, 0.53) 20%, rgba(19, 110, 172, 0) 100%), url(../img/content/banner.jpg)
  .banner__text
    max-width: 100%
  .catalog
    grid-template-columns: repeat(2, 1fr)
  .card-list
    grid-template-columns: repeat(2, 1fr)
  .manufacturers-carousel .carousel-cell
    width: 33.3333%
  .news-item__desc
    display: none
  .square-block
    left: -1.875rem
  .section-news 
    padding-bottom: calc(2rem + 2.5vw)

// ≥768px
+media-breakpoint-down(sm)
  header
    max-width: 540px
  .news-widget
    grid-template-columns: 1fr
  .news-item__container
    text-align: center
  .card-item__list
    grid-template-columns: 1fr
// ≥576px
+media-breakpoint-down(xs)
  .company-content
    padding: 0
  .square-block
    display: none
  .banner-item
    padding: 1.25rem
  .catalog
    grid-template-columns: repeat(1, 1fr)
  .card-list
    grid-template-columns: repeat(1, 1fr)
  .manufacturers-carousel .carousel-cell
    width: 100%
/*==========  mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)

// ≤1200px
+media-breakpoint-up(xxl)