@import "vars"


/*==========  Desktop First  ==========*/

// ≥1400px
+media-breakpoint-down(xl)
  .nav-link, .nav-link
    padding: 0.5rem
  .banner-carousel
    .flickity-page-dots
      bottom: 40px
      left: calc((100% - 1140px) / 2 + 58px)
  .square-block
    left: -20%
  .btn
    font-size: 1rem
  .card-item__price, .checkout-block__total
    font-size: 1.5625rem
  .card-item
	  padding: 1.5rem 1rem
// ≥1200px
+media-breakpoint-down(lg)
  section
    padding: calc(2rem + 2.5vw) 0
  .banner-carousel
    .flickity-page-dots
      bottom: 40px
      left: calc((100% - 960px) / 2 + 58px)
  .nav
    font-size: 0.875rem
  .card
    padding: 1.25rem
  .catalog-item 
    padding: 1rem
  .addres-block
    max-width: 480px
  .filtr-block
    left: 15px
    right: 15px
    background-color: #fff
    display: none
  .filtr-block-title
    background-color: $accent
    text-align: center
    border-radius: 1.875rem
    padding: .3rem
    color: #fff
    line-height: 1.5
  .related-products
    .carousel-cell
      width: 33.3333%
// ≥992px
+media-breakpoint-down(md)
  .menu-content
    top: 90px
  .logo
    img
      width: auto!important
      height: 60px
  .product-card__photo
    width: 50%
    margin: auto
    margin-bottom: 1.5rem
  .card-item__list
    grid-template-columns: 1fr 1fr
  .btn-group, .filtr-group, .sort-item.sort-item--view-icon
    display: none!important
  .toggle-container.container
    padding: 0
    max-width: 100%
  .header-bottom
    position: static
  header
    position: relative
  .banner-carousel
    transform: translateY(0)
  .banner
    padding: 0
  .section-catalog, .banner
    margin: 0
  header
    max-width: 720px
    margin: auto
    width: 100%
    padding: 15px 0
    position: static
  .hamburger
    padding: 0!important
    padding-left: 15px!important
  .icon-link-block span
    display: none
  .header-bottom
    order: 3
    justify-content: space-between
    display: flex
  .header-middle
    padding: 0
    order: 1
  .header-top
    order: 2
    background-color: #fff
    margin-left: auto
  .banner-carousel
    .flickity-page-dots
      bottom: 20px
      left: 28px
  .banner-item
    background: linear-gradient(90deg, rgba(8, 109, 177, 0.53) 20%, rgba(19, 110, 172, 0) 100%), url(../img/content/banner.jpg)
  .banner__text
    max-width: 100%
  .catalog
    grid-template-columns: repeat(2, 1fr)
  .card-list
    grid-template-columns: repeat(2, 1fr)
  .manufacturers-carousel .carousel-cell
    width: 33.3333%
  .news-item__desc
    display: none
  .square-block
    left: -1.875rem
  .section-news 
    padding-bottom: calc(2rem + 2.5vw)
  .related-products
    .carousel-cell
      width: 50%
  .about-us .company-content
    margin-top: 0
  .about-us
    .embed-responsive-1by1
      &::before
        padding-top: 50%
  .header-top
    align-items: center
    display: flex
    .container
      padding: 0!important
  .card .btn
    transform: translatey(0)
    opacity: 1
// ≥768px
+media-breakpoint-down(sm)
  .catalog
    grid-template-columns: repeat(1, 1fr)
  header
    max-width: 540px
  .news-widget
    grid-template-columns: 1fr
  .news-item__container
    text-align: center
// ≥576px
+media-breakpoint-down(xs)
  .saection-gallery
    .carousel-cell
      width: 100%
  .about-us
    .embed-responsive-1by1
      &::before
        padding-top: 100%
  .number-block
    .square-block
      display: block!important
  .related-products
    .carousel-cell
      width: 100%
  .card-item__price
    font-size: 1.3744rem
  .product-card__photo
    width: 75%
  .card-item__img
    width: 70%
    margin: auto
    margin-bottom: 1rem
  .card-item__list 
    grid-template-columns: 1fr
  .company-content
    padding: 0
  .square-block
    display: none
  .banner-item
    padding: 1.25rem
  .catalog
    grid-template-columns: repeat(1, 1fr)
  .card-list
    grid-template-columns: repeat(1, 1fr)
  .manufacturers-carousel .carousel-cell
    width: 100%
  .sort-item
    justify-content: space-between
    margin-right: 0!important
    width: 100%
    & > span
      display: none
    
/*==========  mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)

// ≤1200px
+media-breakpoint-up(xxl)